<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <div class="card-text">
            <h4>Hello {{user.username.capitalize()}}</h4>
            <p>Welcome to Quotes_blogspot.</p>
            <p>Thank you  for registering an account on Quotes_blogspot.</p>
            <p>Enjoy the many posts, comment on them and add your own!</p>
            <p>Kind regards,<br>Quotes_blogspot Management</p>
          </div>
        </div>
    </div>
</body>
</html>
