{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">
{% endblock styles%}

<!-- Content block -->
{% block content %}
<!--Main layout-->
<main class="mt-5">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{url_for('static',filename='images/dev.jpg')}}" alt="..." class="img-responsive">
        <div class="carousel-caption">
          <p>{{quotes[0].quote}}</p>
        </div>
      </div>
      {% for quote in quotes %}
      {% if quote.quote == quotes[0].quote %}
      {% else %}
      <div class="item">
        <img src="{{url_for('static',filename='images/dev.jpg')}}" alt="..." class="img-responsive">
        <div class="carousel-caption">
          {{quote.quote}}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-4">
        <!--Flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
      <div class="col-md-3"></div>
    </div>
    <h2 class="text-center">Featured posts</h2>
    <hr style="width:30%">
    <br>
    <div class="row" id="featured" style="display: flex; flex-wrap: wrap;">
      {% for post in posts.items %}
      <div class="col-md-6 col-lg-6 col-sm-6 padlr10">
        <div class="card">
          <div class="row">
            <div class="col-md-5 wrapthumbnail">
              <div class="thumbnail">
                <img src="{{url_for('static',filename=post.post_pic_path)}}" alt="">
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-block">
                <h2 class="card-title">
                  <a href="{{url_for('main.posts', post_id = post.id)}}">{{post.title}}</a>
                </h2>
                <span class="card-text d-block">{{post.short_description}}</span>
                <div class="metafooter">
                  <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                      <img alt src="{{url_for('static',filename=post.author.profile_pic_path)}}" style="object-fit: cover;"
                        class="avatar avatar-40 photo author-thumb jetpack-lazy-image" height="40" width="40">
                    </span>
                    <span class="author-meta">
                      <span class="post-name">
                        <a
                          href="{{url_for('main.profile',username=post.author.username)}}">{{post.author.username}}</a></span><br>
                      <span class="post-date">{{post.posted.strftime('%B %d, %Y')}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% for page_num in posts.iter_pages(left_edge=1, left_current=1, right_edge=1, right_current=2) %}
        {% if page_num%}
        {% if posts.page == page_num%}
        <a class="btn" style="margin:0.5rem" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
        {%else%}
        <a class="page-active btn" style="margin:0.5rem"
          href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
        {%endif%}
        {%else%}
        <div class="page-active btn">...</div>
        {%endif%}
        {% endfor %}
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</main>
<!--Main layout-->
<footer class="page-footer text-center mt-4 ">
  <div class="pt-4">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p>Be the first one to be notified of a new post</p>
        {{wtf.quick_form(subscribe_form)}}
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <hr class="my-4">
  <div class="pb-4">
    <a href="/"><i class="fab fa-facebook-f mr-3"></i></a>
    <a href="/"><i class="fab fa-twitter mr-3"></i></a>
    <a href="/"><i class="fab fa-youtube mr-3"></i></a>
    <a href="/"><i class="fab fa-google-plus-g mr-3"></i></a>
    <a href="/"><i class="fab fa-dribbble mr-3"></i></a>
    <a href="/"><i class="fab fa-pinterest mr-3"></i></a>
    <a href="/"><i class="fab fa-github mr-3"></i></a>
    <a href="/"><i class="fab fa-codepen mr-3"></i></a>
  </div>
  <div class="footer-copyright py-3">
    &copy; 2021 Copyright: Samwel Chege
  </div>
</footer>
<!--/.Footer-->
{% endblock %}