<div class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                style="border-color: burlywood;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <a class="navbar-brand" id="pitch" href="/">Tech BlogSpot</a>
            <div class="navbar-right">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" style="font-size: 14px; float: right !important;" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
                <a class=" btn my-2 my-sm-0" href="{{url_for('auth.logout')}}" style="margin: 10px;">Logout</a>
                {% else %}
                <a class="navbar-brand"></a>
                <a class="btn my-2 my-sm-0" style="font-size: 14px; margin: 10px; float: right !important;"
                    href="{{url_for('auth.login')}}">Sign in</a>
                {% endif %}
            </div>
            <div class="navbar-collapse collapse" style="float: left;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('main.new_post', uname=current_user.username)}}"> Add a post</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
  </div>