{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
{% endblock styles%}

<!-- Content block -->
{% block content %}
<!--Main layout-->
<main class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mb-4">
        <!--Flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
        <div class="card-body">
          <div class="media d-block d-md-flex mt-3">
            <img class="mb-3 mx-auto z-depth-1" src="{{url_for('static',filename=post.author.profile_pic_path)}}" alt=""
              style="width: 80px;height: 80px;object-fit: cover; border-radius: 40px;">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <a href="{{url_for('main.profile',username=post.author.username)}}">
                <h5 class="mt-0 font-weight-bold">{{post.author.username}}</h5>
              </a>
              {%if post.author.bio%}
              {{post.author.bio}}
              {%endif%}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <h1 class="my-4 text-left" style="margin: 4px!important; margin-top: 25px!important;">{{post.title}}</h1>
          <p class="text-muted">{{post.posted.strftime('%B %d, %Y')}}</p>
          <!--Featured Image-->
          <img src="{{url_for('static',filename=post.post_pic_path)}}" class="img-fluid featured-image" alt=""
            width="730" height="300" style="object-fit: cover; max-height: 300px !important;">
          <!--/.Featured Image-->
          <blockquote class="blockquote">
            <p class="mb-0"><b>{{post.short_description}}</b></p>
          </blockquote>
          {{format_post|safe}}
        </div>
        <br>
        <div class="mt-3">
          {% for comment in comments %}
          {% if comment.id == comments[0].id%}
          <p class="card-header font-weight-bold">Comments</p>
          {%endif%}
          <div class="card-comments mb-3">
            <div class="card-body">
              <div class="media d-block d-md-flex mt-4">
                <img class="d-flex mb-3 mx-auto " src="{{url_for('static',filename=comment.commenter.profile_pic_path)}}"
                  alt="Generic placeholder image"
                  style="width: 80px;height: 80px;object-fit: cover; border-radius: 40px;">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <h5 class="mt-0 font-weight-bold">{{comment.commenter.username}}</h5>
                  {{comment.comment_content}}
                </div>
                {% if post.author == current_user%}
                <button class="btn-sm m-1 btn-delete" data-toggle="modal" data-target="#deleteCommentModal"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</button>
                {%endif%}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <div class="mt-3 ">
          {{comment_form.hidden_tag()}}
          {{wtf.quick_form(comment_form)}}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</main>
<!--Main layout-->
{%for comment in comments%}
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('main.delete_comment',post_id=post.id, comment_id=comment.id)}}" method="POST"
          style="display: inline;">
          <button type="submit" class="btn-danger">Yes, delete comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
{%endfor%}
<footer class="page-footer text-center mt-4 ">
  <div class="pt-4">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p>Be the first one to be notified of a new post</p>
        {{wtf.quick_form(subscribe_form)}}
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <hr class="my-4">
  <div class="pb-4">
    <a href="/"><i class="fab fa-facebook-f mr-3"></i></a>
    <a href="/"><i class="fab fa-twitter mr-3"></i></a>
    <a href="/"><i class="fab fa-youtube mr-3"></i></a>
    <a href="/"><i class="fab fa-google-plus-g mr-3"></i></a>
    <a href="/"><i class="fab fa-dribbble mr-3"></i></a>
    <a href="/"><i class="fab fa-pinterest mr-3"></i></a>
    <a href="/"><i class="fab fa-github mr-3"></i></a>
    <a href="/"><i class="fab fa-codepen mr-3"></i></a>
  </div>
  <div class="footer-copyright py-3">
    &copy; 2021 Copyright: Samwel Chege
  </div>
</footer>
{% endblock %}